body {
  font-family: 'verdana';
  font-stretch: extra-condensed;
  background-image: url(../images/matrix-3408062_1920.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(126, 7, 70);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;

}

.flex-container>div {
  min-width: 350px;
  margin: 10px;
  justify-content: center;
}

h1,
h2,
h3,
h4,
legend {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 4px black, 0 0 30px rgb(255, 0, 157), 0 0 8px darkmagenta;

}