body {
  font-family: 'Fauna One', serif;
  font-stretch: extra-condensed;
  margin: auto;
  background-image: url("/images/cyber-3728141_1920.jpg");
  background-position: center center;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  color: aliceblue;
  margin: auto;
  padding: 2%;
  text-shadow: 1px 1px 5px black, 0 0 25px blue, 0 0 10px darkblue;
  font-family: Cinzel, serif;
}

.active {
  background-color: #a504aa71;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}