fieldset {
    min-width: fit-content;
    color: white;
    margin: 10px auto 10px auto;
    background-color: rgba(135, 27, 120, 0.719);
    border: 5px black double;
}

legend {
    text-align: center;
    padding: 5px;
    font-size: 50px;
    border-bottom: 1.5px black groove;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    text-align: end;
    max-width: 50%;
    font-style: oblique;
}

.box1 {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1.5px black groove;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .content {
        max-width: 100%;
    }

    .box2,
    .box3 {
        display: flex;
        flex-direction: column;
        text-align: start;
        text-wrap: balance;
        padding: 1%;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .box2 {
        border-bottom: 1px black dashed;
    }

    .box2>div,
    .box3>div {
        margin: 2%;
    }

    .description {
        max-width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .content {
        max-width: 100%;
        margin: auto;
    }

    .box3,
    .box2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1%;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .box2 {
        border-bottom: 1px black dashed;
    }
}

@media only screen and (min-width: 768px) {
    .content {
        max-width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .content {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        max-width: 70%;
    }
}

@media only screen and (min-width: 1450px) {
    .content {
        max-width: 60%;
    }
}

@media only screen and (min-width: 1700px) {
    .content {
        max-width: 50%;
    }
}