fieldset {
    min-width: fit-content;
    color: white;
    margin: 20px auto 20px auto;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px 5px rgb(154, 51, 140, 0.35);
}


legend {
    font-weight: 350;
    text-align: center;
    padding: 5px;
    font-size: 50px;


}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    text-align: end;
    max-width: 50%;
    font-style: oblique;
}

.box1 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-block: 1.5px solid rgb(154, 51, 140, 0.35);
    padding: 10px;
}

.box2 {
    border-bottom: 1px rgb(154, 51, 140, 0.35) dotted;
}

.textblock {
    border-top: 1.5px solid rgb(154, 51, 140, 0.35);
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .content {
        max-width: 100%;
    }

    .box2,
    .box3 {
        display: flex;
        flex-direction: column;
        text-align: start;
        text-wrap: balance;
        padding: 1%;
        margin-bottom: 10px;
        margin-top: 5px;
    }


    .box2>div,
    .box3>div {
        margin: 2%;
    }

    .description {
        max-width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .content {
        max-width: 100%;
        margin: auto;
    }

    .box3,
    .box2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1%;
        margin-bottom: 10px;
        margin-top: 5px;
    }


}

@media only screen and (min-width: 768px) {
    .content {
        max-width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .content {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        max-width: 70%;
    }
}

@media only screen and (min-width: 1450px) {
    .content {
        max-width: 60%;
    }
}

@media only screen and (min-width: 1700px) {
    .content {
        max-width: 50%;
    }
}