:root{
    --darkpurple: #772c9b;
    --fadeddarkpurple: #782c9b98;
    --purple: #9d2ad4;
    --fadedpurple:#9e2ad48c;
  }

fieldset {
    min-width: fit-content;
    color: white;
    margin: 20px auto 20px auto;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px var(--fadedpurple);
}
legend {
    font-weight: 350;
    text-align: center;
    padding: 5px;
    font-size: 40px;
}
#email_form{
    margin:20px;
}
.formfield{
    color:white;
    margin-bottom:20px;
    border:none;
    border-bottom: 1.5px solid var(--fadedpurple);
    border-radius:0;
    background-color:black;
}
.formfield::placeholder {
    color:rgba(255, 255, 255, 0.75);
}.formfield:focus{
    box-shadow: 0 0 10px 5px var(--fadedpurple);
    outline:1.5px solid var(--darkpurple);
}
.btn.form{
    box-shadow: 0 0 10px 5px var(--fadedpurple);
    padding:10px;
    border:none;
    background-color:black;
    color:white;
    border-radius:15px;
    width:fit-content;
    margin:auto;
} .btn.form:hover{
    outline:1.5px solid var(--darkpurple);
    transition: outline 0.2s;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    text-align: end;
    max-width: 50%;
    font-style: oblique;
}

.box1 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-block: 1.5px solid var(--fadedpurple);
    padding: 10px;
}

.box2 {
    border-bottom: 1px var(--fadedpurple) dotted;
}

.textblock {
    border-top: 1.5px solid var(--fadedpurple);
    padding: 10px;
    text-align: center;
}

.contact-link {
    text-decoration: none;
    color: white;

}

.contact-link:hover, .btn.form:hover {
    color: var(--purple);
    font-weight: 600;
    transition: color 0.2s;
}



.contactinfo {
    max-width: 500px !important;

    legend {
        border-bottom: 1.5px solid var(--fadedpurple);

    }

    .wrapper {
        padding: 40px 10px;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        max-width: 100%;
        margin: auto;
    }

    .box2,
    .box3 {
        display: flex;
        flex-direction: column;
        text-align: start;
        text-wrap: balance;
        padding: 1%;
        margin-bottom: 10px;
        margin-top: 5px;
    }


    .box2>div,
    .box3>div {
        margin: 2%;
    }

    .description {
        max-width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .content {
        max-width: 100%;
        margin: auto;
    }

    .box3,
    .box2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1%;
        margin-bottom: 10px;
        margin-top: 5px;
    }


}

@media only screen and (min-width: 768px) {
    .content {
        max-width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .content {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        max-width: 70%;
    }
}

@media only screen and (min-width: 1450px) {
    .content {
        max-width: 60%;
    }
}

@media only screen and (min-width: 1700px) {
    .content {
        max-width: 50%;
    }
}